@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h1-style {
    @apply bg-gradient-to-r from-h1-from_color via-h1-via_color to-h1-to_color bg-clip-text text-transparent;
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-align: center;
    font-family: sans-serif;
  }

  .h2-style {
    @apply bg-gradient-to-r from-h2-from_color via-h2-via_color to-h2-to_color bg-clip-text text-transparent;
    font-size: 1.875rem;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-align: center;
    font-family: sans-serif;
  }

  .h3-style {
    @apply bg-gradient-to-r from-h3-from_color via-h3-via_color to-h3-to_color bg-clip-text text-transparent;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-align: center;
    font-family: sans-serif;
  }

  .h4-style {
    @apply bg-gradient-to-r from-h4-from_color via-h4-via_color to-h4-to_color bg-clip-text text-transparent;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-align: center;
    font-family: sans-serif;
  }

  .h5-style {
    @apply bg-gradient-to-r from-h5-from_color via-h5-via_color to-h5-to_color bg-clip-text text-transparent;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-align: center;
    font-family: sans-serif;
  }

  .h6-style {
    @apply bg-gradient-to-r from-h6-from_color via-h6-via_color to-h6-to_color bg-clip-text text-transparent;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-align: center;
    font-family: sans-serif;
  }
}

h1 {
  @apply h1-style;
}

h2 {
  @apply h2-style;
}

h3 {
  @apply h3-style;
}

h4 {
  @apply h4-style;
}

h5 {
  @apply h5-style;
}

h6 {
  @apply h6-style;
}
p {
  @apply bg-gradient-to-r from-p-from_color via-p-via_color to-p-to_color bg-clip-text text-transparent;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  font-family: sans-serif;
}

a {
  @apply bg-gradient-to-r from-a-from_color via-a-via_color to-a-to_color bg-clip-text text-transparent;
  text-decoration: underline;
  font-family: sans-serif;
}

a:hover {
  @apply bg-gradient-to-r from-a-to_color via-a-via_color to-a-from_color bg-clip-text text-transparent;
  text-decoration: none;
}
