/* Base Slider Styles */
.slider-container {
  @apply flex w-full flex-col items-center;
}

.slider-thumb {
  @apply w-full appearance-none rounded-full;
}
.slider-thumb::-webkit-slider-thumb {
  @apply bg-line-dark;
  width: 20px;
  height: 20px;
  appearance: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-thumb:focus {
  @apply outline-none ring-line ring-offset-2;
}

.slider-thumb:disabled {
  @apply cursor-not-allowed bg-gray-300;
}

/* Slider Value Display */
.slider-value {
  @apply mt-2 text-lg font-medium;
}
